# Open VMware Workstation
# Click Play Button and Wait
# Open Files in VMware Workstation
# Files -> Downloads -> Display_images -> Open frame-003.png
# Files -> Downloads -> Display_images -> Right Click -> Open in Terminal
# Minimize Display images folder
# Type ./capture.sh on the VMware Terminal and hit enter
# Click on the frame-003.png photo
# Run this python code

import pyautogui
import mouse
import time

# Open the Start menu

pyautogui.press('win')

time.sleep(1)
# Type "snip" to search for the Snipping Tool and press Enter

pyautogui.write('snip')
time.sleep(2)

pyautogui.press('enter')

#  Wait for the Snipping Tool to open
time.sleep(1)

# Move the mouse pointer ""New" in snipping tool
pyautogui.moveTo(1413, 651)

# Click the on "New" Button
pyautogui.click()

time.sleep(1)

# The coordinates of the top-left and bottom-right corners of the square
x1, y1 = 583, 310 # top-left corner
x2, y2 = 1393, 847 # bottom-right corner

# Move the mouse cursor to the top-left corner
pyautogui.moveTo(x1, y1)

# Press the left mouse button and drag to the bottom-right corner
pyautogui.mouseDown()
pyautogui.moveTo(x2, y2)
pyautogui.mouseUp()

# Move the mouse pointer to the "close" sign in snipping tool
pyautogui.moveTo(1521, 52)

# Click the on "close" Button
pyautogui.click()

# Move the mouse pointer to the "No" button in snipping tool confirmation overlay
pyautogui.moveTo(1125, 550)

# Click the on "No" Button
pyautogui.click()
