# Open VMware Workstation
# Click Play Button and Wait
# Open Files in VMware Workstation
# Files -> Downloads -> Display_images -> Open frame-003.png
# Files -> Downloads -> Display_images -> Right Click -> Open in Terminal
# Minimize Display images folder
# Type ./capture.sh on the VMware Terminal and hit enter
# Click on the frame-003.png photo
# Run this python code

import pyautogui
import mouse
import time

def open_start_menu():
    pyautogui.press('win')
    time.sleep(1)
    
def search_snipping_tool():
    pyautogui.write('snip')
    time.sleep(2)
    pyautogui.press('enter')
    time.sleep(1)
    
def click_new_button():
    pyautogui.moveTo(1413, 651)
    pyautogui.click()
    time.sleep(1)
    
def select_area(x1, y1, x2, y2):
    pyautogui.moveTo(x1, y1)
    pyautogui.mouseDown()
    pyautogui.moveTo(x2, y2)
    pyautogui.mouseUp()
    
def click_close_button():
    pyautogui.moveTo(1521, 52)
    pyautogui.click()
    
def click_no_button():
    pyautogui.moveTo(1125, 550)
    pyautogui.click()
    
# Usage example
open_start_menu()
search_snipping_tool()
click_new_button()
select_area(583, 310, 1393, 847)
click_close_button()
click_no_button()
